In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [24]:
from pandas import ExcelFile

df = pd.read_excel('./../../projects/product-mvp/launch-data.xlsx')
df.head()

,beginning_of_period_date,account_id,industry,market,first_paid_subscription_created_date_utc,latest_plan_tier_at_beginning_of_period,latest_plan_duration_at_beginning_of_period,latest_price_paid_usd_at_beginning_of_period
0,2021-07-01,20855008.0,Home Maintenance and Outdoor Services,US,2015-09-02 22:39:42.000,Unlimited,Annual,399.99
1,2021-07-01,20904201.0,Home Maintenance and Outdoor Services,US,2015-09-25 00:33:38.000,Unlimited,Annual,399.00
2,2021-07-01,21032602.0,Construction and Trades,US,2015-12-08 00:12:55.740,Unlimited,Annual,207.33
3,2021-07-01,21189746.0,Marketing and Creative,US,2016-01-04 02:36:56.000,Unlimited,Annual,299.99
4,2021-07-01,21198731.0,Construction and Trades,US,2016-01-27 04:20:24.000,Advanced,Annual,239.00

In [26]:
df.shape

(685, 8)

In [27]:
df.columns

Index(['beginning_of_period_date', 'account_id', 'industry', 'market',
       'first_paid_subscription_created_date_utc',
       'latest_plan_tier_at_beginning_of_period',
       'latest_plan_duration_at_beginning_of_period',
       'latest_price_paid_usd_at_beginning_of_period'],
      dtype='object')

In [28]:
print(df['industry'])

0      Home Maintenance and Outdoor Services
1      Home Maintenance and Outdoor Services
2                    Construction and Trades
3                     Marketing and Creative
4                    Construction and Trades
                       ...
680                  Construction and Trades
681                  Construction and Trades
682                  Construction and Trades
683                  Construction and Trades
684                  Construction and Trades
Name: industry, Length: 685, dtype: object

In [29]:
df['industry'].value_counts()

Construction and Trades                        444
Home Maintenance and Outdoor Services          182
Marketing and Creative                          25
Consulting, Legal, and Financial Services       21
Other/Unknown                                   11
Automotive, Transportation, and Warehousing      2
Name: industry, dtype: int64

In [30]:
df['latest_plan_tier_at_beginning_of_period'].value_counts()

Unlimited    381
Advanced     286
Standard      16
Lite           2
Name: latest_plan_tier_at_beginning_of_period, dtype: int64