# Data Preparation & Profiling

In [30]:
# Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
# Data
colnames = ['ProductID','Product_type','Date','Price','Quantity']
df = pd.read_csv('data/elasticity.csv', names=colnames, header=None)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462000 entries, 0 to 461999
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ProductID     462000 non-null  object
 1   Product_type  462000 non-null  object
 2   Date          462000 non-null  object
 3   Price         462000 non-null  float64
 4   Quantity      462000 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 17.6+ MB

In [33]:
df.head(10)

  ProductID Product_type        Date  Price  Quantity
0     D9775      Diapers  2017-01-01  12.46        94
1       D80      Diapers  2017-01-01  11.56       102
2     D3248      Diapers  2017-01-01  12.21        93
3     D1714      Diapers  2017-01-01  11.54        75
4     D1408      Diapers  2017-01-01  13.16        94
5     D4564      Diapers  2017-01-01  13.09        86
6     D8861      Diapers  2017-01-01  11.83        85
7     D1053      Diapers  2017-01-01  10.75       117
8     D4231      Diapers  2017-01-01  12.53        80
9     D9387      Diapers  2017-01-01  10.92        82

# Exploratory Data Analysis

In [34]:
#Check values in different category_name
category = df['Product_type'].value_counts()
category

Cereals       220000
Headphones    132000
Diapers       110000
Name: Product_type, dtype: int64

In [35]:
#Select Cereals
df_feature = df[df['Product_type']=='Cereals']

#Make sure to not have any duplicates in the data
df_feature = df_feature.groupby(['Date','ProductID']).agg({'Price':'mean','Quantity': 'mean' }).reset_index()

#laptop data used for price elasticities
df_feature.head()

         Date ProductID  Price  Quantity
0  2017-01-01     C1021   8.61      20.0
1  2017-01-01     C1023  12.96     128.0
2  2017-01-01     C1033   9.08      19.0
3  2017-01-01     C1037   8.56      19.0
4  2017-01-01     C1054   9.14      17.0

# Data Modelling

In [36]:
#Format and build a dataframe with x_values for each product within the category
x_pivot = df_feature.pivot( index='Date', columns='ProductID' ,values='Price' )
x_values = pd.DataFrame(x_pivot.to_records())
x_values.dropna()
print(x_values)

            Date  C1021  C1023  C1033  C1037  C1054  C1075  C1130  C1178  C1204  ...  C9636  C9722  C9744  C9811  C9838  C9865  C9880  C9904  C9976  C9982
0     2017-01-01   8.61  12.96   9.08   8.56   9.14   8.00   9.52   8.72  12.02  ...   8.08   9.20   8.80  11.71  11.79   8.88  13.25   9.29   9.49  10.33
1     2017-01-02   9.26  14.61  10.09   8.54   8.40   8.63   9.22   9.74  11.21  ...   9.34   8.71   9.41  11.37  12.21   9.30  14.80   8.35   9.93  12.53
2     2017-01-03   7.74  13.68   9.14   9.41   9.48   8.97   9.35  10.32   9.08  ...   9.30   8.83   9.27   9.10  10.68   9.08  14.35   8.85   9.16  12.21
3     2017-01-04   7.75  15.20   9.54   9.25   8.79   8.71   8.66   9.49   9.56  ...   7.77   8.85   8.84  12.17  13.21   8.88  16.19   9.26   9.51  10.06
4     2017-01-05   9.53  15.10   8.67   9.31   8.54  10.41   8.83   8.83  11.67  ...   9.24   8.74   9.41  13.63  10.08   9.22  16.01   8.69   9.91  10.30
...          ...    ...    ...    ...    ...    ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
1095  2020-01-01   9.61  13.83   9.43   8.99   8.40   8.04   8.54   8.29  10.31  ...   9.46   8.33   7.97  10.60   8.56   8.51  14.52   9.16   8.71  12.03
1096  2020-01-02   9.36  14.10   8.87   8.46   9.56   8.80   8.40   8.83  11.32  ...   8.88   9.52   8.60  10.06  12.55   9.97  15.70   8.77   8.26  10.46
1097  2020-01-03   9.37  13.88   9.55   8.78  10.14   9.73   9.30   8.64   9.95  ...   8.34   8.43   8.49   9.10  11.84   8.97  14.66   9.22   8.40  10.36
1098  2020-01-04   8.12  16.03   8.98   9.14   8.83   8.47   8.72   8.72  12.42  ...   9.17   8.98   8.76   9.52  11.26   8.85  14.99   8.88   7.91  12.12
1099  2020-01-05   8.64  15.02   9.95   8.59   8.74   9.58   9.69   8.00  11.00  ...   8.53   9.02   9.34  12.40  11.27   8.68  14.03  10.46   8.18  11.10

[1100 rows x 201 columns]

In [37]:
#Format and build a dataframe with y_values for each product within the category
y_pivot = df_feature.pivot( index='Date', columns='ProductID' ,values='Quantity' )
y_values = pd.DataFrame(y_pivot.to_records())
print(y_values)

            Date  C1021  C1023  C1033  C1037  C1054  C1075  C1130  C1178  C1204  ...  C9636  C9722  C9744  C9811  C9838  C9865  C9880  C9904  C9976  C9982
0     2017-01-01   20.0  128.0   19.0   19.0   17.0   27.0   16.0   19.0   53.0  ...   26.0   16.0   18.0   53.0   51.0   20.0  126.0   17.0   16.0   75.0
1     2017-01-02    6.0   50.0    4.0   10.0   10.0    8.0    6.0    5.0   25.0  ...    6.0    8.0    6.0   23.0   21.0    7.0   52.0   10.0    6.0   22.0
2     2017-01-03   11.0   57.0    7.0    6.0    6.0    7.0    7.0    4.0   37.0  ...    6.0    9.0    7.0   36.0   30.0    8.0   54.0    7.0    7.0   21.0
3     2017-01-04   11.0   52.0    6.0    6.0    9.0    8.0    9.0    6.0   34.0  ...   10.0    9.0    9.0   21.0   17.0    6.0   56.0    7.0    6.0   30.0
4     2017-01-05    6.0   46.0    9.0    7.0   10.0    4.0    9.0    7.0   22.0  ...    6.0    9.0    7.0   12.0   32.0    7.0   52.0    9.0    4.0   28.0
...          ...    ...    ...    ...    ...    ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
1095  2020-01-01   11.0  102.0   12.0   13.0   14.0   15.0   15.0   15.0   49.0  ...   11.0   15.0   16.0   47.0   53.0   14.0   92.0   12.0   13.0   42.0
1096  2020-01-02   11.0   93.0   12.0   16.0   12.0   13.0   14.0   13.0   41.0  ...   14.0   12.0   13.0   48.0   42.0   10.0   82.0   15.0   15.0   44.0
1097  2020-01-03   13.0   95.0   11.0   14.0   10.0   10.0   11.0   13.0   50.0  ...   15.0   15.0   14.0   50.0   38.0   12.0   87.0   12.0   15.0   41.0
1098  2020-01-04   25.0  156.0   23.0   23.0   26.0   24.0   24.0   27.0   74.0  ...   22.0   25.0   27.0   99.0   86.0   26.0  152.0   25.0   34.0   78.0
1099  2020-01-05   26.0  161.0   19.0   24.0   26.0   20.0   20.0   29.0   75.0  ...   25.0   26.0   21.0   76.0   85.0   25.0  188.0   18.0   33.0   87.0

[1100 rows x 201 columns]

In [ ]:
points = []
results_values = {
    "ProductID": [],
    "price_elasticity": [],
    "price_mean": [],
    "quantity_mean": [],
    "intercept": [],
    "t_score":[],
    "slope": [],
    "coefficient_pvalue" : [],
}
#Append x_values with y_values per same product name
for column in x_values.columns[1:]:
    column_points = []
    for i in range(len(x_values[column])):
        if not np.isnan(x_values[column][i]) and not np.isnan(y_values[column][i]):
            column_points.append((x_values[column][i], y_values[column][i]))
    df = pd.DataFrame(list(column_points), columns= ['x_value', 'y_value'])


    #Linear Regression Model
    import statsmodels.api as sm
    x_value = df['x_value']
    y_value = df['y_value']
    X = sm.add_constant(x_value)
    model = sm.OLS(y_value, X)
    result = model.fit()
    
    
    #(Null Hypothesis test) Coefficient with a p value less than 0.05
    if result.f_pvalue < 0.05:
        
        rsquared = result.rsquared
        coefficient_pvalue = result.f_pvalue
        intercept, slope = result.params
        mean_price = np.mean(x_value)
        mean_quantity = np.mean(y_value)
        tintercept, t_score = result.tvalues
     
        #Price elasticity Formula
        price_elasticity = (slope)*(mean_price/mean_quantity)    
            
        #Append results into dictionary for dataframe
        results_values["ProductID"].append(column)
        results_values["price_elasticity"].append(price_elasticity)
        results_values["price_mean"].append(mean_price)
        results_values["quantity_mean"].append(mean_quantity)
        results_values["intercept"].append(intercept)
        results_values['t_score'].append(t_score)
        results_values["slope"].append(slope)
        results_values["coefficient_pvalue"].append(coefficient_pvalue)
        
final_df = pd.DataFrame.from_dict(results_values)
df_elasticity = final_df[['ProductID','price_elasticity','t_score','coefficient_pvalue','slope','price_mean','quantity_mean','intercept']]
df_elasticity

In [ ]:
def divergent_plot(df, values_column, ylabel, xlabel):

    #Divergent plot
    df['ranking'] = df[values_column].rank( ascending = True).astype(int)
    df.sort_values(values_column, ascending =False, inplace = True)
    plt.figure(figsize = (12,5), dpi = 80)
    plt.hlines(y = df['ranking'] , xmin = 0, xmax = df[values_column], alpha = 0.5, linewidth = 3)
    
    #Add elasticity labels
    for x, y, tex in zip(df[values_column], df['ranking'] , df[values_column]):
        plt.text(x, y, round(tex, 2), horizontalalignment='right' if x < 0 else 'left', 
                 verticalalignment='center', fontdict={'color':'red' if x < 0 else 'green', 'size':10})
        
    
    # Axis and title
    plt.gca().set(ylabel= ylabel, xlabel= xlabel)
    plt.yticks(df['ranking'])
    plt.title(values_column , fontdict={'size':13})
    plt.grid(linestyle='--', alpha=0.5)
    plt.show()
            
    
    #Adjust Ranking column and print dataframe
    pd.set_option('display.width', 4000)
    cols = list(df.columns)
    cols = [cols[-1]] + cols[:-1]
    df = df[cols]
    
    df = df.iloc[:,:3]
    df.set_index('ranking', inplace=True)
    display(df)

# Result

In [ ]:
df_elasticity

In [ ]:
df_sample = df_elasticity.head(10).append(df_elasticity.tail(10))
df_sample

In [ ]:
pe_plot = divergent_plot(df_sample, 'price_elasticity', 'Ranking Number', 'Price Elasticity')

* Elasticities between 0- 1 are considered inelastic, as a result the products from rank 1 to 20 are elastic.
* Negative Price Elasticities are located from rank 1 to 20 and this would tell us the likelihood of when price decreases how likely sales demand would increase or vice versa.
* For instance, let’s analyze C1021 located in rank 11 with a negative price elasticity of -1.867437 ; a 10% price decrease in C1021, it increases sales demand by 18.67% or a 10% price increase in C1021, it decreases sales demand by 18.67%